#footer {
    background: #FFFFFF;
    /*display: flex;*/
    color: #ffffff;
	margin-top: 2em;
}
#footer a {
    color: #ffffff;
}

#footer:before, #footer:after {
    content: " ";
    display: table;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#footer:after {
    clear: both;
}
#footer div.service-info {
    width: 100%;
    float: left;
    padding: 0.5em 0 2em 0;
}

#footer ul {
	display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F5F3F4;
    color: #adadad;
}

#footer div.service-info li {
    display: block;
    color: #adadad;
    text-align: center;
    float: left;
	width:10%;
    text-decoration: none;
	font-size: 0.65em;
	padding: 1.0em 1.25em;
	font-weight: 700;
}

#footer div.service-info li.more-info {
	width:3%;
	text-align: center;
    color: #FFFFFF;
	/*padding: 0.75em*/;
}

#footer div.service-info li.more-info div.icon-info {
    background: #6F6F6F;
	width:auto;
	text-align: center;
    color: #FFFFFF;
	padding: 0.75em;
	border-radius: 100%;
}

#footer div.service-info li.more-service {
    background: #6F6F6F;
	text-align: left;
    color: #FFFFFF;
	/*padding: 0.75em;*/
}
.icon-container {
    margin: 1.55em;
    height: 40%;
}
#footer div.service-info li.service-desc:hover {
    background: #303131;
}

#footer div.disclaimer {
	background: #FFFFFF;
    color: #adadad;
    font-weight: bolder;
    font-size: 0.80em;
    text-align: center;
    margin-top: 2em;
}